body {
    background-color:#eee;
    padding: 60px; 
}
ul {
    list-style: none;
}
li {
    margin: 20px;
}
label {
    display: flex;
    align-items: center;
}
li span {
    background-color: lightgrey;
    display: block;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
input {
    display: none;
}
input[type="radio"]:checked + label span {
    background-color: lightseagreen;
}
.juste + label span {
    background-color: green !important;
    color: white;
}
.juste + label:after {
    font-weight: bold;
    margin: 10px;
    content: "juste";
}
.juste + label {
    color: green;
}
.faux + label span {
    background-color: red !important;
    color: white;
}
.faux + label {
    color: red;
    text-decoration: line-through;
}
.faux + label:after {
    text-decoration: none !important;
    display: inline;
    font-weight: bold;
    margin: 10px;
    content: "faux";
}
#maDIV, #maDIV4, #maDIV5{
    display: none;
    color: red; 
    margin-right: 70%;
}
#maDIV1, #maDIV2, #maDIV3{
    display: none;
    color: green; 
    margin-right: 93%;
}